.BBFieldCaption
{
   font-weight: bold;
   padding-right: 10px;
}

.BBFieldControlCell
{
   width: auto;
   padding: 0;
   vertical-align: middle;
}

.BBFormReadonlyValue
{
   font-style: normal;
}

.BBFormRequiredFieldMarker
{
   width: 150px;
   text-align: left;
}

.BBFormSelectList
{
   border: 1px solid #b7975f;
   background-color: #f8ebd3;
   font-family: verdana, tahoma, helvetica, arial, sans-serif;
   font-size: 11px;
}

.BBFormTable
{
   border: none;
   width: 100%;
}

.BBFormTextArea
{
   border: 1px solid #b7975f;
   background-color: #f8ebd3;
   font-family: verdana, tahoma, helvetica, arial, sans-serif;
   font-size: 11px;
}

.BBFormTextbox
{
   border: 1px solid #b7975f;
   background-color: #f8ebd3;
   font-family: verdana, tahoma, helvetica, arial, sans-serif;
   font-size: 11px;
}

.BBFormTitle
{
   color: #742410;
   border-bottom: 1px solid #b7975f;
   font-size: 1.75em;
   font-family: georgia, "times new roman", times, serif;
   margin: 0 0 .5em;
   padding-bottom: .25em;
   font-weight: bold;
   text-align: left;
}

.BBFormValidatorSummary
{
   border: 1px solid #b70000;
   padding: 10px;
   background-color: #ffe7e7;
   color: #b70000 !important;
   margin-bottom: 15px;
}

.BBListingHeading
{
   border: none;
   border-bottom: 1px solid #d6bd91;
   font-family: verdana, helvetica, arial, sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   background: transparent;
   color: #7f5934;
   font-weight: bold;
   padding: 0;
}

.BBListingTable
{
   border: none;
}

.BBMessage
{
   font-style: normal;
}

.BBListOddRowStyle
{
   background-color: #f8ebd3;
}

.BBListEvenRowStyle
{
   background: transparent;
}

.LoginSectionHeader
{
   color: #7f5934;
   margin: 0 0 .5em;
   font-weight: bold;
   border-bottom: 1px solid #d6bd91;
   padding-bottom: .25em;
   padding-top: 2em;
   font-size: 1em;
   font-style: normal;
   font-family: verdana, tahoma, helvetica, arial, sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.LoginFieldMessage
{
   color: #000;
   font-family: verdana, tahoma, helvetica, arial, sans-serif;
   font-weight: normal;
}

.LoginFormTitle
{
   color: #7f5934;
   margin: 0 0 .5em;
   font-weight: bold;
   padding-bottom: .25em;
   font-family: georgia, "times new roman", times, serif;
   font-size: 1.33em;
   color: #742410;
}

.ProfileFormPrivateControlCell
{
   width: 100px;
}

.ProfileFormTable
{
   width: 100%;
}

.ProfileFormTitle
{
   color: #7f5934;
   font-size: 1.17em;
   font-family: verdana, tahoma, helvetica, arial, sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 1em 0 .25em 0;
}

.DonationCaptureFieldCaption
{
   background: transparent;
}

.DonationFieldCaption
{
   background: transparent;
}

.DonationCaptureFieldControlCell
{
   padding: 2px 0;
}

.DonationCaptureTextArea
{
   width: 225px;
}

.DonationTextArea
{
   width: 225px;
}

.DonationCaptureTextboxWide
{
   width: 225px;
}

.DonationTextboxWide
{
   width: 225px;
}

.DonationCaptureListingHeading
{
   height: auto;
   padding-top: 10px;
   text-align: left;
   color: #7f5934;
   background: transparent;
}

.DonationListingHeading
{
   height: auto;
   padding-top: 10px;
   text-align: left;
   color: #7f5934;
   background: transparent;
}

.EventAttendeesComplete
{
   background: transparent;
}

.EventAttendeesCurrent
{
   background: transparent;
}

.EventAttendeesFuture
{
   background: transparent;
}

.EventAttendeesOverallTotal
{
   background: transparent;
   font-weight: bold;
   color: #000;
}

.EventItemRegistrantsEventName
{
   color: #742410;
   margin: 0 0 .5em;
   font-weight: bold;
   border-bottom: 1px solid #b7975f;
   padding-bottom: .25em;
   font-family: georgia, "times new roman", times, serif;
   font-style: normal;
   background: transparent;
   font-size: 1.17em;
}

.EventItemsSelectionGrid
{
   border: none;
}

.EventSectionHeader
{
   color: #742410;
   margin: 0 0 .5em;
   font-weight: bold;
   border-bottom: 1px solid #b7975f;
   padding-bottom: .25em;
   padding-top: 1em;
   font-family: georgia, "times new roman", times, serif;
   font-size: 1.75em;
}

.EventTicketsBodyCell
{
   color: #000;
}

.EventTicketsHeaderCell
{
   font-weight: bold;
   color: #742410;
}

.SummaryGridEventTitle
{
   color: #7f5934;
   font-weight: bold;
   padding-bottom: .25em;
   font-family: georgia, "times new roman", times, serif;
}

.EventItemRegistrationControlCellDescription
{
   width: 230px;
}

.EventItemRegistrationControlCellNumParticipants
{
   width: 100px;
}

.EventItemRegistrationControlCellPrice
{
   width: 160px;
}

.EventItemRegistrationsHeader
{
   color: #7f5934;
   margin: 0 0 .5em;
   font-weight: bold;
   padding-bottom: .25em;
   font-size: 1em;
   font-family: verdana, tahoma, helvetica, arial, sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.EventProgressCell
{
   background: #742410;
   color: #fff;
   font-family: georgia, "times new roman", times, serif;
   width: 25%;
}

.EventProgressCellFuture
{
   background-color: #cfba83;
   color: #fff;
   font-weight: normal;
   font-family: georgia, "times new roman", times, serif;
   width: 25%;
}

.EventProgressCellPast
{
   background-color: #cfba83;
   color: #742410;
   font-weight: normal;
   font-family: georgia, "times new roman", times, serif;
   width: 25%;
}

.EventTable
{
   width: 100%;
}

.EventItemTitleDescription
{
   font: normal 1em/150% Verdana,Arial,Helvetica,sans-serif;
   color: #000;
   margin: 0;
}

.EventItemTitleName
{
   color: #7f5934;
   margin: 0 0 .5em;
   font-weight: bold;
   padding-bottom: .25em;
   font-family: georgia, "times new roman", times, serif;
}

.SubscriptionFormCheckList
{
   border: none;
   margin-left: -12px;
   position: relative;
}

.SubscriptionFormListHeaderTitle
{
   display: none;
}

.BBDocumentDisplayDescriptionStyle
{
   font-style: normal;
}

.BBDocumentDisplayHeader
{
   color: #7f5934;
   text-transform: uppercase;
   font-size: .95em;
   letter-spacing: 1px;
   /* the border is in the custom styles */;
}

.BBDocumentDisplayNew
{
   color: #b70000;
}

.BBDocumentDisplaySeparator
{
   display: none;
}

.BBDocumentTabButtons
{
   text-align: right;
   border-bottom: 1px solid #b7975f;
   position: relative;
   left: -2px;
}

.BBDocumentAddDescription
{
   font-size: 11px;
}

.BBDocumentAddFile
{
   width: 225px;
}

.BBDocumentAddName
{
   width: 200px;
}

.GivingHistoryListHeader
{
   color: #7f5934;
   text-transform: uppercase;
   font-size: .95em;
   letter-spacing: 1px;
   /* the border is in the custom styles */;
}

.GivingHistoryMessage
{
   padding: .5em 0;
   display: block;
}

.GivingHistoryFormTitle
{
   font-size: 1.75em;
   font-family: georgia, "times new roman", times, serif;
}

.NewsChannelItemTitle
{
   font-size: 1.17em;
   font-family: verdana, tahoma, helvetica, arial, sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #7f5934;
   margin: 0 0 .5em;
   border-bottom: 1px solid #d6bd91;
   font-weight: bold;
   padding-top: 1em;
}

.NewsChannelItemDate
{
   color: #742410;
   font-family: georgia, "times new roman", times, serif;
   letter-spacing: 1px;
}

.NewsChannelFormTitle
{
   font-family: georgia, "times new roman", times, serif;
   font-size: 1.75em;
}

.SearchTable
{
   width: 100%;
}

.SearchHeaderRow
{
   color: #7f5934;
   text-transform: uppercase;
   font-size: .95em;
   letter-spacing: 1px;
   text-align: right;
}

.SearchDescriptionStyle
{
   /* is actually .BBSearchDescriptionStyle and is in custom styles */;
}

.SearchFormDescription
{
   padding: 10px 0;
}

.QuickSearchTextbox
{
   border: 1px solid #b7975f;
   background-color: #f8ebd3;
   font-family: verdana, tahoma, helvetica, arial, sans-serif;
   font-size: 11px;
   /*there are custom styles for the sidebar version of this form in the custom CSS*/;
}

.BBAnonymousSubscriptionFormTable
{
   width: auto;
}

.BBAnonymousSubscriptionTitle
{
   border-bottom-color: #d6bd91;
   color: #7f5934;
   font-family: verdana, tahoma, helvetica, arial, sans-serif;
   font-size: 1.17em;
   letter-spacing: 1px;
   text-transform: uppercase;
}

body
{
    font: normal 75%/150% Helvetica,Arial,sans-serif; /* 12px / 16px (default) = .75em */
    color: #000;
    margin: 0;
}

body#BodyId
{
    background: black url(view.image?id=697) repeat-y center bottom; /* CSM - changed from 553 */
}


/* ------------------
	  =page structure
	------------------- */
.container
{
    margin: 0 auto;
    width: 980px;
    margin-bottom: 200px;
}

.containerInner
{
    border-top: none;
    width: 980px;
}

#wrapHeader
{
    float: left;
    width: 980px;
    background: url(view.image?id=708) no-repeat;
}
#header
{
    height: 134px;
    position: relative;
}
#minimenu
{
    position: absolute;
    right: 0;
    top: 18px;
    font-size: 10px;
    padding-right: 35px;
}
#minimenu a
{
    text-decoration: none;
    color: black;
    display: block;
    float: left;
    width: 76px;
    text-align: center;
}
#myAccount
{
    width: 202px;
    height: 77px;
    float: right;
    margin: 38px 44px 0 0;
}
#myAccountButton
{
    /* CSM - Added */
    display: block;
    width: 202px;
    height: 77px;
    background: url(view.image?id=702) top no-repeat;
}

#myAccountButton:hover
{
    /* CSM - Added */
    display: block;
    width: 202px;
    height: 77px;
    background: url(view.image?id=702) bottom no-repeat;
}

#myAccount .menuItem a
{
    width: 202px;
    height: 77px;
    display: block;
    background: url(view.image?id=701) top;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    text-indent: -999em;
}
#myAccount .menuItem a:hover
{
}
#myAccount .popupMenu
{
    background: #b18f5c;
    border: 1px solid #9a6c40;
    display: none !important;
}
#myAccount .popupMenu table
{
    display: none;
}
#myAccount a.popupMenuItem
{
    color: #fff;
    display: block;
    font-size: .75em !important;
    padding: 0 5px;
    white-space: normal;
    display: none;
}
#myAccount a.popupMenuItemHover
{
    background: #9a6c40;
}

#wrapNav
{
    float: left;
    width: 980px;
    height: 49px;
    position: absolute; /*background: url(view.image?id=696) repeat-y;*/
    z-index: 100;
}
#wrapNav .gutter
{
    background: url(view.image?id=691) no-repeat top center; /* CSM changed from 598*/
    height: 49px;
}
/* header nav */

ul.mainNav
{
    line-height: 29px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 37px 0 0;
    padding: 0;
    float: right;
}
ul.mainNav li
{
    background: transparent none;
    float: left;
    height: 22px;
    padding: 0 0 2px;
    position: relative;
}
ul.mainNav li:hover, ul.mainNav li.selected
{
    background-color: #000;
    color: white;
}

ul.mainNav li.selected
{
    background-color: #ff9900;
    color: black;
}
ul.mainNav li.last ul
{
    margin-left: -121px;
}
ul.mainNav a
{
    font-weight: normal;
    height: 29px;
    font-size: 1.68em;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 29px;
    border-right: 2px solid #000;
    display: inline-block;
    color: #000;
}
ul.mainNav a:hover, ul.mainNav li:hover a, ul.mainNav li.selected a
{
    background-color: #000;
    color: white;
}

/* main nav - 1st level sub */

ul.mainNav ul
{
    background: transparent none;
    font-size: 14px;
    position: absolute;
    left: -9999%;
    top: 100%;
    z-index: 1000;
    width: 208px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    border: 0px none;
    text-align: left;
    padding: 0;
    margin: 0;
}
ul.mainNav li:hover ul
{
    left: 0;
    margin-top: 5px;
}
ul.mainNav li.parent ul li
{
    background: transparent url(view.image?id=443) repeat-x 0 top; /* CSM - Changed from 564 */
    height: auto;
    width: 208px;
    padding: 0;
}
ul.mainNav li.parent ul li:hover, ul.mainNav li:hover ul li:hover
{
    background: #000;
}
ul.mainNav li.parent ul a
{
    background: transparent none no-repeat 0 0;
    display: block;
    padding: 0 0 0 3px;
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
    text-indent: 0;
    width: auto;
    height: auto;
    font-size: 14px;
    text-align: left;
}
ul.mainNav ul li.parent a
{
}
ul.mainNav ul li.parent a:hover, ul.mainNav ul li.parent:hover a, ul.mainNav ul li.parent.selected a
{
}

/* main nav - 1st level sub hovers */

ul.mainNav ul a:hover, ul.mainNav ul li:hover a, ul.mainNav ul li.selected a
{
    background: transparent none;
    color: #ebdf79;
}


/* main nav - 2nd level sub */

ul.mainNav ul ul
{
    top: 0px;
    font-size: 1em;
    padding-left: 2px;
}
ul.mainNav li:hover ul ul
{
    left: -9999%;
}
ul.mainNav li.parent ul li:hover ul
{
    left: 208px;
}









ul.mainNav ul ul a, ul.mainNav ul li:hover ul a, ul.mainNav ul li.selected ul a, ul.mainNav ul li.parent ul a
{
    background: transparent none no-repeat 0 0 !important;
    color: #FFF;
}
ul.mainNav ul ul a:hover, ul.mainNav ul ul li:hover a, ul.mainNav ul ul li.selected a, ul.mainNav ul li.parent ul a:hover
{
    background: transparent none no-repeat 0 0 !important;
    color: #ebdf79;
}

/* CSM - Added by to create a third level of menus that can be used to make the top nav displsy selected property, but not included in drop down menu */
ul.mainNav li:hover ul ul
{
    visibility: hidden;
}


#wrapMedia
{
    float: left;
    width: 800px;
}
#wrapMedia .gutter
{
    padding-top: 7px;
    padding-left: 17px;
}

#wrapContentOuter
{
    float: left;
    width: 980px;
    background: url(view.image?id=696) repeat-y left 250px;
}

#wrapContentInner
{
    width: 980px;
    float: left;
    background: url(view.image?id=695) repeat-x left bottom;
    margin-top: 40px;
}

#contentPrimary
{
    width: 500px;
    float: right;
}
#contentPrimary .graphicHeader
{
    /* CSM - added */
    padding: 0px;
}
#contentPrimary .gutter
{
    padding: 0px; /* 20px; CSM*/
}

#graphicsOnly #contentPrimary
{
    /* Added; - CSM */ /*float: right;	 		width: 747px;*/
    padding: 0px; /*margin-right: 37px;*/
    background: black !important; /*white url(view.image?id=445) no-repeat left bottom; CSM - Removed bottom image */
    padding-bottom: 10px !important;
}


#contentSecondary
{
    width: 200px;
    float: left;
}
#contentSecondary .gutter
{
    padding: 37px; /*20px; CSM - changed*/
}

#donateButton
{
    /* CSM - Added */
    display: block;
    width: 127px;
    height: 183px;
    background: url(view.image?id=446) top no-repeat;
}

#donateButton:hover
{
    /* CSM - Added */
    display: block;
    width: 127px;
    height: 183px;
    background: url(view.image?id=446) bottom no-repeat;
}

#contentSub
{
    width: 200px;
    float: right;
}
#contentSub .gutter
{
    padding: 20px;
}

#wrapFooter
{
    width: 980px;
    clear: both;
    font-size: .83em;
    text-align: left;
    margin: 0 auto;
    background-image: url(view.image?id=908);
    height: 125px;
}
#wrapFooter span.pipe
{
    margin-right: 3px;
    margin-left: 3px;
    width: 1px;
    color: #742410;
}
#wrapFooter #ecfa
{
    padding-left: 14px;
    position: absolute;
    margin-top: -50px;
    float: left;
}
#wrapFooter #ecfa img
{
    vertical-align: middle;
    margin-right: 8px;
}
#wrapFooter #ecfa a
{
    color: #000;
    text-decoration: underline;
    font-size: 1.09em;
}
.footerMenu
{
    list-style: none;
    display: block;
    width: 75%;
    font-size: .9em;
    text-transform: uppercase;
    line-height: 50px;
    position: relative;
    top: 10px;
    padding-left: 42px;
}
.footerMenu li
{
    display: inline;
    padding: 0 8px;
}
.footerMenu li.last
{
    border: none;
}
#wrapFooter a
{
    color: #fff;
    text-decoration: none;
}
#wrapFooter a:hover
{
    text-decoration: underline;
    color: #fff;
}
#wrapFooter .gutter
{
}
#wrapFooter .ReportFormTable
{
    width: 100px;
    margin: 0 auto;
    font-size: 9px;
    float: none;
}
#wrapFooter .ReportFormTable table
{
    margin: 0 auto;
}
#wrapFooter .ReportTitle
{
    border: none;
    color: #7b2b35;
}
#wrapFooter .ReportFormTable span
{
    color: #7b2b35 !important;
    font-size: 9px !important;
}
#wrapFooter .social
{
    float: right;
    color: #fff;
    margin-top: -43px;
    margin-right: 24px;
}
#wrapFooter .social .float
{
    float: left;
    line-height: 29px;
    padding-right: 12px;
}
#wrapFooter .social .BBNavBarTable
{
    float: left;
}


/* =layout-specific styles styles
	------------------------ */
.twoCol
{
}
.twoCol #wrapContentInner
{
    width: 980px;
}
.twoCol #contentPrimary
{
    width: 747px;
    font-size: .96em;
    background: white url(view.image?id=445) no-repeat left bottom;
    margin-right: 37px;
    padding-bottom: 40px; /* 100px; - CSM */
}
.twoCol #contentPrimary #graphics
{
    /* 100px; - CSM */
    padding-bottom: 40px;
}

.twoCol #contentPrimary #graphicsOnly
{
    /* Added; - CSM */
    float: right;
    width: 747px;
    font-size: .92em;
    margin-right: 37px;
    background: black !important; /*white url(view.image?id=445) no-repeat left bottom; CSM - Removed bottom image */
    padding-bottom: 10px !important;
}

.twoCol #countryMap
{
    /* CSM - added */
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
}

.twoCol #TopRightImage
{
    /* CSM - added */
    float: right;
    margin-top: 0px;
    padding-right: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.twoCol #TopRightImageWithTopMargin
{
    /* CSM - added */
    float: right;
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.twoCol #contentFormattedTextImage
{
    /* CSM - added */
    padding-top: 17px;
    margin-left: 20px;
    margin-right: 20px;
}

.twoCol #sponsorLink
{
    float: right;
    margin-top: 1px;
    margin-right: -3px;
    padding-left: 15px;
}
.twoCol #contentSecondary
{
    width: 196px;
}
.twoCol #contentSecondary .menu
{
    padding-top: 3px;
}
.twoCol #contentSecondary .menu ul
{
    list-style: none;
    font-size: 13px;
    margin: 6px 11px 0 37px;
    background: url(view.image?id=709) repeat-x bottom;
    padding-bottom: 17px;
}
.twoCol #contentSecondary .menu ul li
{
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    background: #e9ac05 url(view.image?id=449) repeat-x;
}
.twoCol #contentSecondary .menu ul li.selected a
{
    background: #ff9900;
    color: black;
}
.twoCol #contentSecondary .menu ul li ul li.selected a
{
    color: #ebdf79;
}
.twoCol #contentSecondary .menu ul li a
{
    color: #000;
    display: block;
    text-decoration: none;
    width: 134px;
    padding-left: 14px;
}
.twoCol #contentSecondary .menu ul li a:hover
{
    color: #fff;
    background: #000;
}
.twoCol #contentSecondary .menu ul li ul
{
    background: none; /*display: none;*/
}
.twoCol #contentSecondary .menu ul li ul li
{
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    list-style: square;
}
.twoCol #contentSecondary .menu ul li ul li.selected
{
    background: transparent;
}
.twoCol #contentSecondary .menu ul li ul li.selected a
{
    color: #ebdf79;
    font-weight: bold;
}
.twoCol #contentSecondary .menu ul li ul li a
{
    font-weight: normal;
    color: #6e4d2e;
}

/* CSM - Added by to create a third level of menus that can be used to make the top nav displsy selected property, but not included in drop down menu */
.twoCol #contentSecondary .menu ul li:hover ul ul
{
    visibility: hidden;
}


ul.mainNav
{
    line-height: 29px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 37px 0 0;
    padding: 0;
    float: right;
}
ul.mainNav li
{
    background: transparent none;
    float: left;
    height: 22px;
    padding: 0 0 2px;
    position: relative;
}
ul.mainNav li:hover, ul.mainNav li.selected
{
    background-color: #000;
    color: white;
}

ul.mainNav li.selected
{
    background-color: #ff9900;
    color: black;
}
ul.mainNav a
{
    font-weight: normal;
    height: 29px;
    font-size: 1.68em;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 29px;
    border-right: 2px solid #000;
    display: inline-block;
    color: #000;
}
ul.mainNav a:hover, ul.mainNav li:hover a, ul.mainNav li.selected a
{
    background-color: #000;
    color: white;
}

ul.mainNav li.selected a
{
    background-color: #ff9900;
    color: black;
}

/* main nav - 1st level sub */

.twoCol #contentSecondary .menu ul
{
    position: relative;
}
.twoCol #contentSecondary .menu ul ul
{
    background: transparent none;
    font-size: 12px;
    position: absolute;
    left: -9999%;
    top: 100%;
    z-index: 1000;
    width: 125px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    border: 0px none;
    text-align: left;
    padding: 0;
    margin: 0;
}
.twoCol #contentSecondary .menu ul li
{
    position: relative;
}
.twoCol #contentSecondary .menu ul li:hover ul
{
    left: 148px;
    top: 0;
}
.twoCol #contentSecondary .menu ul li.parent ul li
{
    background: transparent url(view.image?id=443) repeat-x 0 top; /* CSM - Changed from 564 */
    height: auto;
    width: 125px;
    padding: 0;
    list-style: none;
}
.twoCol #contentSecondary .menu ul li.parent ul li:hover, .twoCol #contentSecondary .menu ul li:hover ul li:hover
{
    background: black;
}
.twoCol #contentSecondary .menu ul li.parent ul a
{
    background: transparent none no-repeat 0 0;
    display: block;
    padding: 0 0 0 3px;
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: none;
    font-weight: normal;
    text-indent: 0;
    width: auto;
    height: auto;
    font-size: 12`px;
    text-align: left;
}

/* main nav - 1st level sub hovers */

ul.mainNav ul a:hover, ul.mainNav ul li:hover a, ul.mainNav ul li.selected a
{
    background: transparent none;
    color: #ebdf79;
}

/* main nav - 2nd level sub */

.twoCol #contentSecondary .menu ul ul ul
{
    top: 0px;
    font-size: 1em;
    padding-left: 2px;
}
ul.mainNav li:hover ul ul
{
    left: -9999%;
}
ul.mainNav li.parent ul li:hover ul
{
    left: 208px;
}
ul.mainNav ul ul a, ul.mainNav ul li:hover ul a, ul.mainNav ul li.selected ul a, ul.mainNav ul li.parent ul a
{
    background: transparent none no-repeat 0 0 !important;
    color: #FFF;
}
ul.mainNav ul ul a:hover, ul.mainNav ul ul li:hover a, ul.mainNav ul ul li.selected a, ul.mainNav ul li.parent ul a:hover
{
    background: transparent none no-repeat 0 0 !important;
    color: #ebdf79;
}

#home
{
}
#home .slideshow
{
    width: 800px;
    height: 323px;
    background: url(view.image?id=450);
}
#home .sponsor
{
    background: url(view.image?id=451) no-repeat;
    width: 112px;
    height: 230px;
    position: absolute;
    margin-top: -287px;
    margin-left: 48px;
}

#home #contentPrimary
{
    width: 905px;
    padding-bottom: 14px;
    position: relative;
    margin-left: 38px;
    margin-top: -1px;
    background: transparent url(view.image?id=693) repeat-x left -10px;
    height: 281px;
}

#home #contentPrimary .homeSearch
{
    /* CSM - added */
    position: absolute;
    left: 761px;
    top: 32px;
}
#home #contentPrimary .sponsorachildimg
{
    /* CSM - added */
    position: absolute;
    left: 610px;
    top: 0px;
}
#home #contentPrimary .homeSearchClick
{
    /* CSM - added */
    position: absolute;
    left: 1px;
    top: 1px;
}
#home #contentSecondary
{
    width: 100%;
    height: 133px; /*125px; - CSM */
}

#home #contentSecondary .one, #home #contentSecondary .two, #home #contentSecondary .three, #home #contentSecondary .four
{
    width: 206px;
    background: transparent; /*white; - CSM */
    height: 133px; /*125px; - CSM */
    float: left;
    margin-left: 18px;
}

#home #wrapNav .gutter
{
    background-image: url(view.image?id=692);
}

#home #contentSecondary .one, #home #contentSecondary .two, #home #contentSecondary .three, #home #contentSecondary .four
{
    width: 206px;
    background: transparent; /*white; - CSM */
    height: 133px; /*125px; - CSM */
    float: left;
    margin-left: 18px;
}

#home #contentSecondary .one
{
    margin-left: 52px;
}

#home
{
    /* CSM - Added {} */
}
#home #contentPrimary .gutter
{
    padding: 0;
}

#home #contentPrimary .text a, #home #contentPrimary .tabs a
{
    color: #fff;
    text-decoration: none;
}
#home #contentPrimary .text a:hover, #home #contentPrimary .tabs a:hover
{
    text-decoration: underline;
}

#home #contentPrimary .headline
{
    height: 94px;
    width: 100%;
    font-weight: bold;
    font-size: 1.33em;
}

#home #contentPrimary .image
{
    width: auto;
    padding-left: 6px;
    padding-right: 6px;
}

#home #contentPrimary .tabs
{
    height: 18px;
    font-size: .75em;
    line-height: 8px;
}
#home #contentPrimary .tabs td
{
    width: 89px;
    text-align: center;
    background: url(view.image?id=454) no-repeat;
    border-bottom: 2px solid #1f1f11;
}
#home #contentPrimary .tabs td.active
{
    border-bottom-color: #535429;
}

#home #contentPrimary .one .headline
{
    background-color: #762812;
    margin-top: 18px;
}

#home #contentPrimary .two .headline
{
    background-color: #53542A;
}

#home #contentPrimary .three .headline
{
    background-color: #762812;
    margin-top: 18px;
}


#home #contentSecondary
{
}
/*#home #wrapFooter { float:left; clear:both; }*/

/* ------------------------
	  =header and text styles
	------------------------ */

h1, h2, h3, h4, h5, h6
{
    color: #007d85;
    margin: 0 0 .5em;
    font-weight: bold;
    border-bottom: 1px solid #838383;
    padding-bottom: .25em;
    font-family: verdana, tahoma, arial, helvetica, sans-serif;
}

h1
{
    font-size: 1.75em;
    border-bottom-color: #838383;
    color: #007d85;
    font-family: helvetica, arial, sans-serif;
}
#contentSecondary h1, #contentSub h1
{
    font-size: 1.5em;
}
h2
{
    font-size: 1.17em;
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#contentSecondary h2, #contentSub h2
{
    font-size: 1.33em;
}
h3
{
    font-size: 1.33em;
}
#contentSecondary h3, #contentSub h3
{
    font-size: 1.17em;
}
h4
{
    font-size: 1em;
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#contentSecondary h4, #contentSub h4
{
    font-size: 1em;
}
h5
{
    font-size: 1em;
    letter-spacing: 1px;
}
#contentSecondary h5, #contentSub h5
{
    font-size: .83em; /* 10px */
}
h6
{
    font-size: .83em;
    letter-spacing: 1px;
    font-weight: normal;
}
#contentSecondary h6, #contentSub h6
{
    font-size: .83em; /* 10px */
}
p
{
    font: normal 1em/1.5 helvetica, arial, sans-serif;
    margin: 0 0 1.5em;
}
#contentSecondary p, #contentSub p
{
    font-size: .83em; /* 10px */
}
p.skipLink
{
    margin: 0;
    padding: 0;
}
code
{
    font-size: 1.4em;
}

/* ---------------
	   =List styles
	 --------------- */
ul, ol, dl
{
    font: normal 1em/1.5 helvetica, arial, sans-serif;
    margin-bottom: 1.5em;
}
#contentSecondary ul, #contentSecondary ol, #contentSecondary dl, #contentSub ul, #contentSub ol, #contentSub dl
{
    font: normal .83em/1.3 helvetica, arial, sans-serif;
}
#contentSecondary ol, #contentSub ol
{
    margin-left: 1em;
    padding-left: 1em;
}
ul
{
    margin: 0 0 1.5em;
    padding: 0;
}
#contentPrimary ul
{
    list-style: square;
}
#contentPrimary ul, #contentPrimary ol
{
    padding: 0 0 0 3em;
    margin: 1em 0 1.5em;
}
#contentPrimary ul li
{
    padding: 0;
}
ul li
{
    padding-left: 2.5em;
}
#contentSecondary ul li, #contentSub ul li
{
    padding-left: 1.25em;
}
dt, dd
{
    margin: 0;
    padding: 0;
}
dt
{
    font-weight: bold;
    margin: 0;
    padding: 0;
}
dd
{
    margin: 0;
    padding: 0 0 0 2.5em;
}
#contentSecondary dd, #contentSub dd
{
    padding-left: 1.25em;
}


/* ---------------
	   =Link styles
	 --------------- */

a
{
    color: #53542A;
}
a:visited
{
    color: #72743a;
}
a:hover
{
    color: #898a45;
}
a:active, a:focus
{
    color: #898a45;
}
a img
{
    border: none;
}
a.skip
{
    position: absolute;
    top: -50em;
    font-size: 1.2em;
    font-weight: bold;
}
a.skip:hover, a.skip:active, a.skip:focus
{
    position: absolute;
    left: 50%;
    top: 0;
    background: #fff;
    padding: .5em;
    text-align: center;
    margin: 0 auto 0 -10em;
    display: block;
    width: 20em;
}
/* ------------------
	  =quarantined styles
	--------------------- */
* html #wrapHeader, * html #wrapNav, * html #wrapMedia
{
    height: 1%; /* ie6 hasLayout */
}

/* ------------------
	  =custom styles
	--------------------- */
a.icon.holyGrailSm
{
    padding: 18px 0 30px 80px;
    display: block;
}

.BBFormValidatorSummary ul
{
    margin-bottom: 0 !important;
}

.GivingHistoryListHeader td, .BBDocumentDisplayHeaderRow td
{
    border-bottom: 1px solid #d6bd91;
}

.BBSearchDescriptionStyle
{
    white-space: normal !important;
}

#contentSecondary .QuickSearchFormTable
{
    position: relative;
    left: -9px;
}
#contentSecondary .QuickSearchFieldCaption
{
    display: none;
}
#contentSecondary .QuickSearchTextbox
{
    width: 130px;
}
#contentSecondary .QuickSearchFormTable td
{
    padding: 0;
    width: 132px;
}
#contentSecondary .QuickSearchButton
{
    font-size: 11px;
    font-family: verdana, tahoma, arial, helvetica, sans-serif;
    position: absolute;
    right: 4px;
    margin-top: 15px;
}

/* ------------------
	  =print styles
	--------------------- */

@media print
{

    body
    {
        background: #ffffff;
        font: normal 12pt verdana, tahoma, arial, helvetica, sans-serif;
        color: #000;
        margin: 0 0 20px;
    }

    /* turn everything off */
    #contentSecondary, #contentSub, #wrapMedia, #wrapHeader, #wrapFooter
    {
        display: none;
    }

    /* turn main content back on */
    #contentPrimary, #contentPrimary .gutter
    {
        width: 100%;
        margin: 0;
        padding: 0;
        float: none;
    }

    #wrapContentOuter
    {
        margin: 0;
        padding: 0;
        position: static;
        float: none;
        width: 100%;
        background: #fff;
    }

    /* printer-friendly font family */
    #contentPrimary *
    {
        font-family: verdana, tahoma, arial, helvetica, sans-serif;
    }

}

/* extra custom styles */
.EventItemsSelectionGrid table
{
    clear: both;
}

.BBAnonymousSubscriptionTextBox
{
    margin: .5em 0 0;
}

span label, span input
{
    vertical-align: middle;
}

span input
{
    margin-top: 0;
}

.taCenter
{
    margin: 0 auto;
}

/* Profile Form */

.bbformbuilder-element-row
{
padding-top: 0px;
padding-bottom: 0px;
}

#S1_PROFILETITLECMOPOSIT_label_cont, #S1_PROFILEFIRSTNAMECOMPOSIT_label_cont, #S1_PROFILEMIDDLENAMECOMPOSIT_label_cont, #S1_PROFILELASTNAMECOMPOSIT_label_cont, #S1_SUFFIXCOMPOSIT_label_cont, #S1_GENDERCOMPOSIT_label_cont, #S1_MARITALSTATUSCOMPOSIT_label_cont
{
padding-bottom: 0px;
}

#S1_PROFILETITLECMOPOSIT_DropDownList1, #S1_SUFFIXCOMPOSIT_DropDownList1, #S1_GENDERCOMPOSIT_DropDownList1, #S1_MARITALSTATUSCOMPOSIT_DropDownList1
{
	height:25px;
	font: 13px tahoma,arial,helvetica,sans-serif;
}
.ext-strict .x-form-text 
{
	height:23px;
	font: 13px tahoma,arial,helvetica,sans-serif;
}

.bbformbuilder-section
{
	padding-top: 1.5em;
}

.bbformbuilder-label
{
 font-weight: bold;
 color: #736F6E;
}





#S2_PRIMARYADDRESS_lblAddr1Caption,
#S2_PRIMARYADDRESS_txtAddr1,
#S2_PRIMARYADDRESS_lblAddr2Caption, 
#S2_PRIMARYADDRESS_txtAddr2,
#S2_PRIMARYADDRESS_lblAddr3Caption, 
#S2_PRIMARYADDRESS_txtAddr3
{
   margin-left: -34px;
}


#S2_PRIMARYADDRESS_lblAddr1Caption,
#S2_PRIMARYADDRESS_lblAddr2Caption, 
#S2_PRIMARYADDRESS_lblAddr3Caption
{
 font-weight: bold;
 color: #736F6E;
 margin-bottom: 3px;
}

#S2_PRIMARYADDRESS_liAddr2
{
 margin-top: 10px;
}

#S2_PRIMARYADDRESS_pnlCity
{
 margin-top: -7px;
}

#S2_PRIMARYADDRESS_pnlState,
#S2_PRIMARYADDRESS_pnlCountry,
#S2_PRIMARYADDRESS_pnlZip
{
margin-top: 10px;
}

#S2_PRIMARYADDRESS_lblCityCaption,
#S2_PRIMARYADDRESS_lblStateCaption,
#S2_PRIMARYADDRESS_lblCountryCaption,
#S2_PRIMARYADDRESS_lblZipCaption
{
 font-weight: bold;
 color: #736F6E;
 margin-bottom: 3px;
}

#S2_PRIMARYADDRESS_ddState,
#S2_PRIMARYADDRESS_ddCountry
{
	height:25px;
	font: 13px tahoma,arial,helvetica,sans-serif;
}
