
/*
body
{
	margin-top:10px;
}

.sponsorAChildWithoutTop, 
.sponsorAChildWithTop 
{
	background-image: url('../images/image%2086.png');
	background-repeat: no-repeat;
	padding-left: 0px;
	width:140px;
	height:280px;
}
.sponsorAChildWithTop
{
	margin-top:-18px;
}
.label
{
	color:White; 
	font-size:1.06em; 
	font-weight:bolder; 
	margin-left:10px
}
.button
{
	background-image: url('../images/image%2021.jpg'); 
	margin-left:10px; 
	margin-top:15px;
	Width:116px ;
	Height:20px; 
	Font-Weight:bolder;
}
.button:hover
{
	background-image: url('../images/image%2010.jpg');
}
.dropdownList 
{
	margin-left:10px; 
	width:116px;
	font-family:Helvetica;
	font-size:12px;
}

*/
body
{
    margin-top:10px;
}

.sponsorAChildNoTop,
.sponsorAChildWithoutTop,
.sponsorAChildWithTop
{
    background-image: url('http://bbnc21195d.blackbaudhosting.com/image/searchachild/background.png');
    background-repeat: no-repeat;
    padding-left: 0px;
    width:140px;
    height:280px;
}

    .sponsorAChildNoTop{
    background-image: url('http://bbnc21195d.blackbaudhosting.com/image/searchachild/blackboxtab2.png');
}
.sponsorAChildWithTop
{
    margin-top:-18px;
}

.label,
.button,
.dropdownList
{
    margin-left:12px;
}

.button,
.dropdownList
{
    width:116px;
}

.label,
.labelNoTop
{
    color:White;
    font-size:1.06em;
    font-weight:bolder;
}

.button,
.buttonNoTop
{
    background-image: url('http://bbnc21195d.blackbaudhosting.com/image/searchachild/button.jpg');
    margin-top:15px;
    Height:20px;
    Font-Weight:bolder;
    text-align:center;
}
.button:hover,
.buttonNoTop:hover
{
    background-image: url('http://bbnc21195d.blackbaudhosting.com/image/searchachild/button_hover.jpg');
}
.dropdownList,
.dropdownListNoTop
{            
    font-family:Helvetica;
    font-size:12px;
}

.labelNoTop,
.buttonNoTop,
.dropdownListNoTop
{
    margin-left:10px;
}

.buttonNoTop,
.dropdownListNoTop
{
    width:110px;
}

/*
.labelNoTop
{
    color:White;
    font-size:1.06em;
    font-weight:bolder;
}

.buttonNoTop
{
    background-image: url('http://bbnc21195d.blackbaudhosting.com/image/searchachild/button.jpg');
    margin-top:15px;
    Height:20px;
    Font-Weight:bolder;
    text-align:center;
}
.buttonNoTop:hover
{
    background-image: url('http://bbnc21195d.blackbaudhosting.com/image/searchachild/button_hover.jpg');
}
.dropdownListNoTop
{            
    font-family:Helvetica;
    font-size:12px;
}
*/